@import "tailwindcss";
@import 'material-icons/iconfont/material-icons.css';
@import 'leaflet/dist/leaflet.css';

.leaflet-container {
  z-index: 0 !important;
}

/* Oculta el botón nativo de mostrar contraseña en Chrome */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-textfield-decoration-container {
  display: none !important;
}